/*----------------------------------------------------------------------------------|  www.vdm.io  |----/
				Most Wanted Web Services, Inc. 
/-------------------------------------------------------------------------------------------------------/

	@version		2.0.0
	@build			22nd September, 2017
	@created		1st May, 2016
	@package		Most Wanted Real Estate
	@subpackage		category.css
	@author			Most Wanted Web Services, Inc. <http://mostwantedrealestatesites.com>	
	@copyright		Copyright (C) 2015-2017. All Rights Reserved
	@license		GNU/GPL Version 2 or later - http://www.gnu.org/licenses/gpl-2.0.html
	
	Most Wanted Real Estate Component
	
/------------------------------------------------------------------------------------------------------*/

/* CSS Document */

<style>
    .city-title,.country-title{
        padding:0px 0px 5px 0px;
        margin:0px;
    }
    
    .country-title{
        color: black;
        font-size: 1rem;
        text-transform: capitalize;
    }
    
    .city .thumbnail{
        margin: 30px;
        padding: 8px;
    }
    
    #container ul { list-style: none; }
    #container .buttons { margin-bottom: 20px; }

    #container .list li { width: 100%; border-bottom: 1px dotted #CCC; margin-bottom: 10px; padding-bottom: 10px; }

    #container .grid li { float: left; width: 33%;  border-right: 1px solid #CCC; border-bottom: 1px dotted #CCC; padding: 20px; }

    .bedrooms, .bathrooms, .propertyarea{
    margin-right: 10px;
}
@media all and (max-width:767px){
    #list, #grid{
        display: none !important;
    }
}
</style>
