/*----------------------------------------------------------------------------------|  www.vdm.io  |----/
				Most Wanted Web Services, Inc. 
/-------------------------------------------------------------------------------------------------------/

	@version		2.0.0
	@build			22nd September, 2017
	@created		1st May, 2016
	@package		Most Wanted Real Estate
	@subpackage		favorites.css
	@author			Most Wanted Web Services, Inc. <http://mostwantedrealestatesites.com>	
	@copyright		Copyright (C) 2015-2017. All Rights Reserved
	@license		GNU/GPL Version 2 or later - http://www.gnu.org/licenses/gpl-2.0.html
	
	Most Wanted Real Estate Component
	
/------------------------------------------------------------------------------------------------------*/

/* CSS Document */

<style>
    .city-title,.country-title{
        padding:0px 0px 5px 0px;
        margin:0px;
    }
    
    .country-title{
        color: black;
        font-size: 1rem;
        text-transform: capitalize;
    }
    
    .city .thumbnail{
        margin: 30px;
        padding: 8px;
    }
   
    .bedrooms, .bathrooms, .propertyarea{
    margin-right: 10px;
}
.list > li {
    list-style: outside none none;
}

</style>

