/*----------------------------------------------------------------------------------|  www.vdm.io  |----/
				Most Wanted Web Services, Inc. 
/-------------------------------------------------------------------------------------------------------/

	@version		2.0.0
	@build			22nd September, 2017
	@created		1st May, 2016
	@package		Most Wanted Real Estate
	@subpackage		transactiontype.css
	@author			Most Wanted Web Services, Inc. <http://mostwantedrealestatesites.com>	
	@copyright		Copyright (C) 2015-2017. All Rights Reserved
	@license		GNU/GPL Version 2 or later - http://www.gnu.org/licenses/gpl-2.0.html
	
	Most Wanted Real Estate Component
	
/------------------------------------------------------------------------------------------------------*/

/* CSS Document */

    <style>
    #map_canvas { position: absolute; top: 20; left: 10;  height: 500px; }
    @media all and (min-width:1500px){
        #map_canvas {
            width:42%;
            }
    }
    @media all and (min-width:961px) and (max-width:1499px){
        #map_canvas {
            width:50%;
            }
            .grid_2{
                    width:100%;
            }
    }
    @media all and (min-width:768px) and (max-width:960px){
        #map_canvas {
            width:41%;
            }
            .grid_2{
                    width:auto;
            }
    }
    
    @media all and (min-width:480px) and (max-width:767px){
        #map_canvas {
            height: 11%;
            width: 58%;
        }
    }
    @media all and (max-width:480px){
        #map_canvas {
            height: 11%;
            width: 86%;
        }
    }
     .OverlaysBL{
              display: none;
          }
</style>

