::-webkit-selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }
::selection { background-color: #E13300; color: white; }

body {
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

.boolean-label {
	margin:0 10px 0 5px;
	position:relative;
	top:3px;
}

.settings-toggle:hover {
	font-weight:bold;
	cursor:pointer;
}

#settings-form .row  .span4 {
	padding-top:10px;
	border-top:1px dotted #666666;
}

.statusAcceptValues-remove {
	cursor:pointer;
}

.inline-block {
	display:inline-block;
}

.group:before, .group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; }

@media (min-width: 980px) { body { padding-top:80px; } }

.manage .label {
	cursor:pointer;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin-bottom:15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}
	
p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	margin: 20px 0 0 0;
}
	
.body{
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	-mox-box-shadow: 0 0 8px #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	padding:15px;
}

.p15 { padding:15px; }
.nm  { margin:0; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }

@media (max-width: 530px) { 
	.bb { border-bottom: 1px solid #D0D0D0; margin-bottom:9px; }
}

.group:before, .group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }